.letter {
 	width:300px; /*resize as you see fit */
 	height:400px; /*resize as you see fit */
	display:inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
 	border:1px solid black; /*feel free to remove or hide this rule */
 	position:relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
}
.letter div{
	position: absolute;
}


/*START A */

.letter-a-top{
	width:280px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 100px;
 	border-top-left-radius: 100px;
 	border-bottom: none;	 	
}
.letter-a-stem {
    top: 100px;
    left: 0px;
    width: 100px;
    height: 280px ; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-a-stem2{
	top: 100px;
    left: 160px;
    width: 100px;
    height: 280px;  
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;

}
.letter-a-middle{
	top: 155px;
    left: 110px;
	width:50px;
 	height:80px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-bottom: none;
 }


/*END A*/
/*START B*/

.letter-b {
	transform: scaleX(-1)
}
.letter-b-top{
    width:280px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;	
}
.letter-b-bottom{
	width:280px;
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
 	bottom: 0px;
 	transform: scaleY(-1);
}
.letter-b-stem {
    top: 100px;
    left: 0px;
    width: 70px;
    height: 180px ;
    box-shadow: 25px 0 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-b-stem2{
    top: 100px;
    left: 140px;
    width: 70px;
    height: 180px ;
    box-shadow: 25px 0 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-b-middle{
    top: 155px;
    left: 90px;
	width:50px;
 	height:80px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-bottom: none;
 }

 /* END B*/
 /* START C*/

.letter-c-top{
    width:280px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
}
.letter-c-bottom{
	width:280px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
 	bottom: 0px;
 	transform: scaleY(-1);
}
.letter-c-stem{
    top: 100px;
    left: 0px;
    width: 100px;
    height: 180px ;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}

 /* END C*/
 /* START D*/

.letter-d {
	transform: scaleX(-1)
}
.letter-d-top{
    width:280px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;	
}
.letter-d-bottom{
	width:280px;
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
 	bottom: 0px;
 	transform: scaleY(-1);
}
.letter-d-stem {
    top: 100px;
    left: 0px;
    width: 70px;
    height: 180px ;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-d-stem2{
    top: 100px;
    left: 140px;
    width: 70px;
    height: 180px ;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
 }

 /* END D */
 /* START E*/

.letter-e-top{
    width:280px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
}
.letter-e-middle{
	width:280px; 
	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 0px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-bottom: none;
 	bottom: 150px;
}
.letter-e-bottom{
	width:280px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
 	bottom: 0px;
 	transform: scaleY(-1);
}
.letter-e-stem{
    top: 100px;
    left: 0px;
    width: 100px;
    height: 180px ;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}

/* END E */
/* START F*/

.letter-f-top{
    width:280px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
}
.letter-f-middle{
	width:280px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 0px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-bottom: none;
 	bottom: 150px;
}
.letter-f-stem{
	top: 100px;
    left: 0px;
    width: 100px;
    height: 280px ;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px -0px 0 -10px lightgrey; 
    background-color: hotpink;
    border: 10px solid hotpink;
}

/* END F */
/*START G */

.letter-g-top{
    width:280px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
}
.letter-g-stem{
    top: 100px;
    left: 0px;
    width: 100px;
    height: 180px ;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-g-bottom{
	width:280px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-top-left-radius: 100px;
 	border-bottom: none;
 	bottom: 0px;
 	transform: scaleY(-1);
}
.letter-g-stem2{
    right: 15px;
    width: 100px;
    height: 180px ;
    box-sizing: border-box;
    box-shadow: 25px 0 0 -10px lightgrey;
    background-color: hotpink;
    border-radius: 10px;
    border: 10px solid hotpink;
    border-top-right-radius: 50px;
    bottom: 0px;
}

/* END G */
/*START H */

.letter-h-stem {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 380px ;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-h-stem2{
	top: 0px;
    left: 160px;
    width: 100px;
    height: 380px ;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-h-middle{
	top: 140px;
    left: 110px;
	width:60px;
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-bottom: none;	 	
}

/* END H */
/*START I */

.letter-i-stem{
	top: 0px;
    left: 90px;
    width: 100px;
    height: 380px ;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}

/* END I */
/*START J */

.letter-j {
	transform: scaleX(-1)
}
.letter-j-top{
    width:280px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
 	border-bottom-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 50px;
 	border-bottom: none;
}
.letter-j-stem{
    top: 100px;
    left: 0px;
    width: 100px;
    height: 180px ;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-j-bottom{
	width:280px;
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-top-left-radius: 100px;
 	border-bottom: none;
 	bottom: 0px;
 	transform: scaleY(-1);
}
.letter-j-stem2{
    right: 15px;
    width: 100px;
    height: 180px ;
    box-sizing: border-box;
    box-shadow: 25px 0 0 -10px lightgrey;
    background-color: hotpink;
    border-radius: 10px;
    border: 10px solid hotpink;
    border-top-right-radius: 50px;
    bottom: 0px;
}

/* END J*/
/*START K*/
.letter-k-stem{
 top: 0px;
    left: 0px;
    width: 100px;
    height: 380px ;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-k-top{
	top: -10px;
	left: 130px;
    width: 100px;
    height: 240px ;
    box-sizing: border-box;
    box-shadow: 25px 0 0 -10px lightgrey;
    background-color: hotpink;
    border-radius: 10px;
    border: 10px solid hotpink;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    bottom: 0px;
    transform: rotate(50deg);
}
.letter-k-bottom{
	top: 185px;
	left: 150px;
    width: 100px;
    height: 230px ;
    box-sizing: border-box;
    box-shadow: -25px 0 0 -10px lightgrey;
    background-color: hotpink;
    border-radius: 10px;
    border: 10px solid hotpink;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;

    bottom: 0px;
    transform: rotate(140deg);
}
/*END K*/
/*START L*/

.letter-l-bottom{
	width:280px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
 	bottom: 0px;
 	transform: scaleY(-1);
}
.letter-l-stem{
    top: 0px;
    left: 0px;
    width: 100px;
    height: 280px ;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
    border-top-left-radius: 30px;
 }

/*END L*/
/*START M*/
.letter-m {
 	width:600px; /*resize as you see fit */
 	height:400px; /*resize as you see fit */
	display:inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
 	border:1px solid black; /*feel free to remove or hide this rule */
 	position:relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
}


/*END M*/
/*START N*/

.letter-n-stem {
    top: 0px;
    left: 0px;
    width: 70px;
    height: 380px ;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-n-stem2{
	top: 0px;
    left: 195px;
    width: 70px;
    height: 380px ;
    border-top-left-radius: 30px;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-n-middle{
	top: -24px;
    left: 100px;
    width: 70px;
    height: 425px ;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
    transform: rotate(-30deg);
}

/*END N*/
/*START O */

.letter-o::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    width: 285px;
    height: 400px;
    background: transparent;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 25px 0 0 -10px lightgrey;
    border: 90px solid hotpink;
}

/*END O*/
/*START P */

.letter-p-top{
    width:200px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	
 	border-top-left-radius: 100px;
 	border-bottom: none;
}
.letter-p-middle{
	top: 180px;
    left: 120px;
	width:80px;
 	height:70px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-bottom: none;
 	bottom: 150px;
}
.letter-p-stem{
	top: 100px;
    left: 0px;
    width: 100px;
    height: 280px ;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px 0 0 -10px lightgrey; 
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-p-right{
	top: 75px;
    left: 125px;
    width:250px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 0px 0 0 lightgrey;
 	border-top-right-radius: 100px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
 	transform: rotate(90deg);
 }
/*END P*/
/*START Q */

/*END Q*/
/*START R */

/*END S*/
/*START T */

/*END U*/
/*START V */

/*END W*/
/*START Y */

/*END Y*/
/*START Z */

/*END Z*/
