.letter {
  width:300px; 
  height:400px; 
  display:inline-block; 
  border:1px solid black;
  position:relative; 
}
.letter div{
	position: absolute;
}


/*START A */

.letter-a-top{
  width:290px; 
  height:100px;
  box-sizing: border-box;
  box-shadow: 10px 10px 0 0 #7b7ba7;
  border-top-right-radius: 100px;
  border-top-left-radius: 100px;
  border: 10px solid#f68eb0;	
  background-color: #f68eb0 ; 	
}
.letter-a-stem1 {
    top: 100px;
    width: 100px;
    height: 300px ;
    box-sizing: border-box; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    background-color: #f68eb0;
    border: 10px solid #f68eb0;
}
.letter-a-stem2{
	top: 100px;
    left: 190px;
    width: 100px;
    height: 300px; 
    box-sizing: border-box; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    background-color: #f68eb0;
    border: 10px solid #f68eb0;
}
.letter-a-middle{
	top: 155px;
    left: 100px;
    width:90px;
    height:80px;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 #7b7ba7;
    border: 10px solid #f68eb0;
    background-color: #f68eb0;
}

/*END A*/
/*START B*/

.letter-b {
	transform: scaleX(-1)
}
.letter-b-top{
    width:290px; 
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 #7b7ba7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border: 10px solid #f68eb0;
    background-color: #f68eb0;	
}
.letter-b-bottom{
  width:290px;
  height:100px;
  box-sizing: border-box;
  box-shadow: 10px 10px 0 0 #7b7ba7;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 100px;
  border: 10px solid #f68eb0;
  background-color: #f68eb0;
  bottom: 0px;
  transform: scaleY(-1);
}
.letter-b-stem {
    top: 100px;
    width: 100px;
    height: 200px;
    box-sizing: border-box;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    background-color: #f68eb0;
    border: 10px solid #f68eb0;
}
.letter-b-stem2{
    top: 100px;
    left: 140px;
    width: 100px;
    height: 200px ;
    box-sizing: border-box;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    background-color:#f68eb0;
    border: 10px solid #f68eb0;
}
.letter-b-middle{
    top: 155px;
    left: 90px;
    width:50px;
    height:80px;
    border: 10px solid #f68eb0;
    background-color: #f68eb0;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 #7b7ba7;
    border-bottom: none;
}

/* END B*/
/* START C*/

.letter-c-top{
    width:290px; 
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 #7b7ba7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border: 10px solid  #f68eb0;
    background-color:  #f68eb0;
}
.letter-c-bottom{
	width:290px; 
  height:100px;
  box-sizing: border-box;
  box-shadow: 10px 10px 0 0 #7b7ba7;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 100px;
  border: 10px solid: #f68eb0;
  background-color: #f68eb0;
  bottom: 0px;
  transform: scaleY(-1);
}
.letter-c-stem{
    top: 100px;
    left: 0px;
    width: 100px;
    height: 200px ;
    box-sizing: border-box;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    background-color:  #f68eb0;
    border: 10px solid  #f68eb0;
}

/* END C*/
/* START D*/

.letter-d {
    transform: scaleX(-1)
}
.letter-d-top{
    width:290px; 
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 #7b7ba7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border: 10px solid #f68eb0;
    background-color: #f68eb0;  
}
.letter-d-bottom{
  width:290px;
  height:100px;
  box-sizing: border-box;
  box-shadow: 10px 10px 0 0 #7b7ba7;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 100px;
  border: 10px solid #f68eb0;
  background-color: #f68eb0;
  bottom: 0px;
  transform: scaleY(-1);
}
.letter-d-stem {
    top: 100px;
    width: 100px;
    height: 200px;
    box-sizing: border-box;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    background-color: #f68eb0;
    border: 10px solid #f68eb0;
}
.letter-d-stem2{
    top: 100px;
    left: 140px;
    width: 100px;
    height: 200px ;
    box-sizing: border-box;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    background-color:#f68eb0;
    border: 10px solid #f68eb0;
}

/* END D */
/* START E*/

.letter-e-top{
    width:290px; 
    height:100px;
     box-sizing: border-box;
    box-shadow: 10px 10px 0 0 #7b7ba7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;	
}
.letter-e-middle{
	width:290px; 
	height:100px;
  box-sizing: border-box;
  box-shadow: 10px 0px 0 0 #7b7ba7;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 10px solid: #f68eb0;
  background-color:  #f68eb0;
  bottom: 150px;
}
.letter-e-bottom{
	width:290px; 
  height:100px;
  box-sizing: border-box;
  box-shadow: 10px 10px 0 0 #7b7ba7;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-left-radius: 100px;
  border: 10px solid: #f68eb0;
  background-color:  #f68eb0;
  bottom: 0px;
  transform: scaleY(-1);
}
.letter-e-stem{
    top: 100px;
    width: 100px;
    height: 200px ;
    box-sizing: border-box;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
}

/* END E */
/* START F*/

.letter-f-top{
    width:290px; 
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 #7b7ba7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0; 
}
.letter-f-middle{
	width:290px; 
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 0px 0 0 #7b7ba7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
    bottom: 150px;
}
.letter-f-stem{
	top: 100px;
    width: 100px;
    height: 300px ;
    box-sizing: border-box; 
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    background-color: #f68eb0;
    border: 10px solid #f68eb0;
}

/* END F */
/*START G */

.letter-g-top{
    width:290px; 
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 #7b7ba7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
}
.letter-g-stem{
    top: 100px;
    width: 100px;
    height: 200px ;
    box-sizing: border-box;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
}
.letter-g-bottom{
 width:290px; 
 height:100px;
 border: 10px solid #f68eb0;
 background-color: #f68eb0;
 box-sizing: border-box;
 box-shadow: 10px 10px 0 0 #7b7ba7;
 border-top-right-radius: 50px;
 border-top-left-radius: 100px;
 bottom: 0px;
 transform: scaleY(-1);
}
.letter-g-stem2{
    right: 10px;
    width: 100px;
    height: 180px ;
    box-sizing: border-box;
    box-shadow: 20px 0 0 -10px #7b7ba7 ;
    background-color: #f68eb0;
    border-radius: 10px;
    border: 10px solid #f68eb0;
    border-top-right-radius: 50px;
    bottom: 0px;
}

/* END G */
/*START H */

.letter-h-stem {
    top: 0px;
    width: 100px;
    height: 400px ;
    box-sizing: border-box; 
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    border: 10px solid:#f68eb0;
    background-color: #f68eb0;      
}
.letter-h-stem2{
	top: 0px;
    left: 190px;
    width: 100px;
    height: 400px ;
    box-sizing: border-box; 
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    border: 10px solid:#f68eb0;
    background-color: #f68eb0;      
}
.letter-h-middle{
	top: 155px;
    left: 100px;
    width:90px;
    height:80px;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 #7b7ba7;
    border: 10px solid #f68eb0;
    background-color: #f68eb0;	 	
}

/* END H */
/*START I */

.letter-i-stem{
	top: 0px;
    left: 90px;
    width: 100px;
    height: 400px ;
    box-sizing: border-box; 
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    border: 10px solid:#f68eb0;
    background-color: #f68eb0; 
}

/* END I */
/*START J */

.letter-j {
	transform: scaleX(-1)
}
.letter-j-top{
    width:290px; 
 	height:100px;
 	box-sizing: border-box;
 	box-shadow: 10px 10px 0 0 #7b7ba7;
 	border-top-right-radius: 50px;
 	border-bottom-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 50px;
 	border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
}
.letter-j-stem{
    top: 100px;
    width: 100px;
    height: 200px ;
    box-sizing: border-box;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
}
.letter-j-bottom{
    width:290px; 
    height:100px;
    border: 10px solid #f68eb0;
    background-color: #f68eb0;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 #7b7ba7;
    border-top-right-radius: 50px;
    border-top-left-radius: 100px;
    bottom: 0px;
    transform: scaleY(-1);
 	}
.letter-j-stem2{
    right: 10px;
    width: 100px;
    height: 180px ;
    box-sizing: border-box;
    box-shadow: 20px 0 0 -10px #7b7ba7 ;
    background-color: #f68eb0;
    border-radius: 10px;
    border: 10px solid #f68eb0;
    border-top-right-radius: 50px;
    bottom: 0px;
}

/* END J*/
/*START K*/
.letter-k-stem{
    top: 0px;
    width: 100px;
    height: 400px ;
    box-sizing: border-box; 
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    border: 10px solid:#f68eb0;
    background-color: #f68eb0;
}
.letter-k-top{
	top: -20px;
    left: 100px;
    width: 100px;
    height: 270px ;
    box-sizing: border-box;
    box-shadow: -20px 0 0 -10px #7b7ba7;
    border-radius: 10px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
    bottom: 0px;
    transform: rotate(-140deg) scaleY(-1);
}
.letter-k-bottom{
	top: 175px;
	left: 150px;
    width: 100px;
    height: 230px ;
    box-sizing: border-box;
    box-shadow: -20px 0 0 -10px #7b7ba7;
    border-radius: 10px;
    border-top-right-radius: 30px;
    border-top-left-radius: 100px;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
    bottom: 0px;
    transform: rotate(140deg);
}
/*END K*/
/*START L*/

.letter-l-bottom{
    width:290px; 
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 #7b7ba7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
 	bottom: 0px;
 	transform: scaleY(-1);
}
.letter-l-stem{
    top: 0px;
    
    width: 100px;
    height: 300px ;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
    border-top-left-radius: 30px;
 }

/*END L*/
/*START M*/
.letter-m {
 	width:400px; /*resize as you see fit */
 	height:400px; /*resize as you see fit */
	transform: scaleY(1) rotate(90deg);
 }

.letter-m-top{
    width:390px; 
    height:100px;
    box-shadow: 10px 10px 0 0 #7b7ba7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0; 
}
.letter-m-middle{
    width:390px; 
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 0px 0 0 #7b7ba7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
    bottom: 150px;
}
.letter-m-bottom{
    width:390px; 
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 #7b7ba7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
    bottom: 0px;
    transform: scaleY(-1);
}
.letter-m-stem{
    top: 100px;
    width: 100px;
    height: 200px ;
    box-sizing: border-box;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
}
/*END M*/
/*START N*/

.letter-n-stem {
     top: 0px;
    width: 100px;
    height: 400px ;
    box-sizing: border-box; 
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    border: 10px solid:#f68eb0;
    background-color: #f68eb0;  
}
.letter-n-stem2{
	top: 0px;
    left: 190px;
    width: 100px;
    height: 400px ;
    box-sizing: border-box; 
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    border: 10px solid:#f68eb0;
    background-color: #f68eb0; 
}
.letter-n-middle{
	top: 0px;
    left: 100px;
    width: 100px;
    height: 400px ;
    box-sizing: border-box; 
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    border: 10px solid:#f68eb0;
    background-color: #f68eb0; 
    transform: rotate(-28deg);
}

/*END N*/
/*START O */

.letter-o::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    width: 285px;
    height: 400px;
    background: transparent;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 25px 0 0 -10px lightgrey;
    border: 90px solid hotpink;
}

/*END O*/
/*START P */

.letter-p-top{
    width:200px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;	
 	border-top-left-radius: 100px;
 	border-bottom: none;
}
.letter-p-middle{
	top: 180px;
    left: 120px;
	width:80px;
 	height:70px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-bottom: none;
 	bottom: 150px;
}
.letter-p-stem{
	top: 100px;
    left: 0px;
    width: 100px;
    height: 280px ;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px 0 0 -10px lightgrey; 
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-p-right{
	top: 75px;
    left: 125px;
    width:250px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 0px 0 0 lightgrey;
 	border-top-right-radius: 100px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
 	transform: rotate(90deg);
 }
/*END P*/
/*START Q */

.letter-q::before {
    content: "";
    position: absolute;
    box-sizing: border-box;
    left: 0px;
    top: 0px;
    width: 285px;
    height: 400px;
    background: transparent;
    border-radius: 100px 100px 100px 100px;
    box-shadow: 25px 0 0 -10px lightgrey;
    border: 90px solid hotpink;
}
.letter-q-bottom{
	top: 185px;
	left: 150px;
    width: 100px;
    height: 230px ;
    box-sizing: border-box;
    background-color: hotpink;
    border-radius: 10px;
    border: 10px solid hotpink;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    bottom: 0px;
    transform: rotate(140deg);
}


/*END Q*/
/*START R */

.letter-r-top{
    width:200px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-left-radius: 100px;
 	border-bottom: none;
}
.letter-r-middle{
	top: 180px;
    left: 120px;
	width:80px;
 	height:70px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-bottom: none;
 	bottom: 150px;
}
.letter-r-stem{
	top: 100px;
    left: 0px;
    width: 100px;
    height: 280px ;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px 0 0 -10px lightgrey; 
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-r-right{
	top: 75px;
    left: 125px;
    width:250px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 0px 0 0 lightgrey;
 	border-top-right-radius: 100px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
 	transform: rotate(90deg);
 }
 .letter-r-bottom{
	top: 185px;
	left: 150px;
    width: 100px;
    height: 230px ;
    box-sizing: border-box;
    background-color: hotpink;
    border-radius: 10px;
    border: 10px solid hotpink;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    bottom: 0px;
    transform: rotate(140deg);
}
/*END S*/
/*START T */

.letter-t {
 	width:400px; /*resize as you see fit */
 	
}

.letter-t-top{
	width:385px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
 }
.letter-t-stem{
	top: 100px;
    left: 140px;
    width: 100px;
    height: 280px ;  
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}

/*END T*/
/*START U*/

.letter-u-stem {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 380px ;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-u-stem2{
	top: 0px;
    left: 160px;
    width: 100px;
    height: 380px ;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}
.letter-u-middle{
	top: 140px;
    left: 110px;
	width:60px;
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-bottom: none;	 	
}


/*END U*/
/*START V */

/*END V*/
/*START W*/

.letter-w {
 	width:400px; /*resize as you see fit */
 	height:400px; /*resize as you see fit */
	transform: scaleY(-1) rotate(90deg);
 	
}

.letter-w-top{
    width:390px; 
    height:100px;
    box-shadow: 10px 10px 0 0 #7b7ba7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0; 
}
.letter-w-middle{
    width:390px; 
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 0px 0 0 #7b7ba7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
    bottom: 150px;
}
.letter-w-bottom{
    width:390px; 
    height:100px;
    box-sizing: border-box;
    box-shadow: 10px 10px 0 0 #7b7ba7;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 100px;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
    bottom: 0px;
    transform: scaleY(-1);
}
.letter-w-stem{
    top: 100px;
    width: 100px;
    height: 200px ;
    box-sizing: border-box;
    box-shadow: 20px 0 0 -10px #7b7ba7;
    border: 10px solid: #f68eb0;
    background-color:  #f68eb0;
}

/*END W*/
/*START X*/

/*END X*
/*START Y */

.letter-y{
	transform: scaleX(-1);
}
.letter-y-bottom{
	width:280px; 
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
 	bottom: 0px;
 	transform: scaleY(-1);
}
.letter-y-stem{
    top: 0px;
    left: 0px;
    width: 100px;
    height: 280px ;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
    border-top-right-radius: 30px;
 }
.letter-y-top{
	top: -10px;
	left: 130px;
    width: 100px;
    height: 240px ;
    box-sizing: border-box;
    box-shadow: 25px 0 0 -10px lightgrey;
    background-color: hotpink;
    border-radius: 10px;
    border: 10px solid hotpink;
    border-top-right-radius: 50px;
    border-top-left-radius: 50px;
    bottom: 0px;
    transform: rotate(50deg);
}

/*END Y*/
/*START Z */

.letter-z{
	transform: rotate(180deg);
}

.letter-z-stem {
    top: 175px;
    left: 90px;
    width: 100px;
    height: 280px ;
    box-sizing: border-box;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
    transform: rotate(90deg);
}
.letter-z-stem2{
	top: -90px;
    left: 90px;
    width: 100px;
    height: 280px ;
    box-sizing: border-box;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
     transform: rotate(90deg);
}
.letter-z-middle{
	top: -25px;
    left: 90px;
    width: 100px;
    height: 420px ;
    box-sizing: border-box;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px; 
    box-shadow: 15px 0px 0 0 lightgrey; 
    background-color: hotpink;
    border: 10px solid hotpink;
    transform: rotate(35deg);
}

/*END Z*/
