.letter {

 	width:300px; /*resize as you see fit */
 	height:400px; /*resize as you see fit */
	display:inline-block; /* this makes block level elements act like letters (so they sit next to eachother) */
 	border:1px solid black; /*feel free to remove or hide this rule */
 	position:relative; /* IMPORTANT: any element with position:absolute inside this container will now be relative to bounds of this element; */
}
.letter div{
	position: absolute;
}

 /* END B*/
 /* START C*/

.letter-c-top{
    width:270px; /*resize as you see fit */
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
}
.letter-c-bottom{
	width:270px; /*resize as you see fit */
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
 	bottom: 0px;
 	transform: scaleY(-1);
}
.letter-c-stem{
    top: 70px;
    width: 100px;
    height: 250px ;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border-radius: 10px;
   /* transform: rotate(90deg);*/
    border: 10px solid hotpink;
}

 /* END C*/
 /* START D*/
.letter-d {
	transform: scaleX(-1)
}
.letter-d-top{
    width:270px; /*resize as you see fit */
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
 	
}
.letter-d-bottom{
	width:270px; /*resize as you see fit */
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
 	bottom: 0px;
 	transform: scaleY(-1);
}
.letter-d-stem{
	top: 70px;
    border-radius: 10px;
    width: 180px;
    height: 250px ;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border: 10px solid hotpink;
}
    
 /* END D */
 /* START E*/

.letter-e-top{
    width:270px; /*resize as you see fit */
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
}
.letter-e-middle{
	width:270px; /*resize as you see fit */
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 0px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-bottom: none;
 	bottom: 150px;
}
.letter-e-bottom{
	width:270px; /*resize as you see fit */
 	height:100px;
 	border: 10px solid hotpink;
 	background-color: hotpink;
 	box-sizing: border-box;
 	box-shadow: 15px 15px 0 0 lightgrey;
 	border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
 	border-top-left-radius: 100px;
 	border-bottom: none;
 	bottom: 0px;
 	transform: scaleY(-1);
}
.letter-c-stem{
    top: 70px;
    width: 100px;
    height: 250px ;
    box-shadow: 25px -0px 0 -10px lightgrey;
    background-color: hotpink;
    border-radius: 10px;
   /* transform: rotate(90deg);*/
    border: 10px solid hotpink;
}

/* END E */
/* START F*/